<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cimbalino.Toolkit.Core" version="1.2.3" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" />
  <package id="NotificationsExtensions.UniversalApps" version="1.0.3" targetFramework="wpa81" />
  <package id="VidMePortable" version="0.0.0.39-beta" targetFramework="wpa81" />
</packages>