<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="43233ScottLovegrove.ViddyBeta" Publisher="CN=43EE5435-230A-4364-8907-04B5F073D610" Version="0.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="a70534d1-4390-4561-8683-7919944680cf" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Viddy Beta</DisplayName>
    <PublisherDisplayName>ScottLovegrove</PublisherDisplayName>
    <Logo>Assets\TileIcons\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Viddy.App">
      <m3:VisualElements DisplayName="Viddy Beta" Square150x150Logo="Assets\TileIcons\Logo.png" Square44x44Logo="Assets\TileIcons\SmallLogo.png" Description="Viddy" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:DefaultTile Wide310x150Logo="Assets\TileIcons\WideLogo.png" Square71x71Logo="Assets\TileIcons\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#5900FF" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.mp4</FileType>
              <FileType>.wmv</FileType>
              <FileType>.mov</FileType>
            </SupportedFileTypes>
          </ShareTarget>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="viddy">
            <Logo>Assets\TileIcons\Logo.png</Logo>
            <DisplayName>Launch Viddy, a VidMe Windows Phone client</DisplayName>
          </Protocol>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Viddy.BackgroundTask.NotificationTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>